In [4]:
import numpy as np
import pandas as pd
data ={
'ROLL NO ':[103,105,106,110,111,132,113,121,124,125],
'NAME': ['RAJU','UDAY KIRAN','CHERRY','GANESH','MADHAV','PRANEETH','SANTHOSH','VISHNU','KIRANMAI','SHADIQ'],
'BRANCH':['CSE','CSE','ECE','EEE','CIVIL','MECHANICAL','CSE','ECE','EEE','CSE'],
'COURSE NAME ': ['DBMS','MERN STACK','AI ML','ELECTRICAL DESIGN','NETWORKING','MECHANICAL SERVICE ENG','AWS','VLSI DESIGN','CIRCUIT DESIGN','JAVA FULL STACK'],
'PRICE': [4000,4500,3000,2000,1000,1200,5000,np.nan,2500,8000]
}
df = pd.DataFrame(data)
df

   ROLL NO         NAME      BRANCH            COURSE NAME    PRICE
0       103        RAJU         CSE                    DBMS  4000.0
1       105  UDAY KIRAN         CSE              MERN STACK  4500.0
2       106      CHERRY         ECE                   AI ML  3000.0
3       110      GANESH         EEE       ELECTRICAL DESIGN  2000.0
4       111      MADHAV       CIVIL              NETWORKING  1000.0
5       132    PRANEETH  MECHANICAL  MECHANICAL SERVICE ENG  1200.0
6       113    SANTHOSH         CSE                     AWS  5000.0
7       121      VISHNU         ECE             VLSI DESIGN     NaN
8       124    KIRANMAI         EEE          CIRCUIT DESIGN  2500.0
9       125      SHADIQ         CSE         JAVA FULL STACK  8000.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ROLL NO       10 non-null     int64
 1   NAME          10 non-null     object
 2   BRANCH        10 non-null     object
 3   COURSE NAME   10 non-null     object
 4   PRICE         9 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

In [6]:
df.describe()

         ROLL NO         PRICE
count   10.000000     9.000000
mean   115.000000  3466.666667
std      9.865766  2201.703886
min    103.000000  1000.000000
25%    107.000000  2000.000000
50%    112.000000  3000.000000
75%    123.250000  4500.000000
max    132.000000  8000.000000

In [7]:
df.loc[3]

ROLL NO                       110
NAME                       GANESH
BRANCH                        EEE
COURSE NAME     ELECTRICAL DESIGN
PRICE                      2000.0
Name: 3, dtype: object

In [8]:
# To check the null value
df.isnull().any()

ROLL NO         False
NAME            False
BRANCH          False
COURSE NAME     False
PRICE            True
dtype: bool

In [9]:
df.isnull().sum() # To check the number of null values

ROLL NO         0
NAME            0
BRANCH          0
COURSE NAME     0
PRICE           1
dtype: int64